$white: #fff;
$black: #000;
$blue: #004053;
$lightBlue: #00b2d3;
$pink: #AD3A6D;
$darkPink: #691339;
$green: #9AB64B;
$lighterBlue:  lighten($lightBlue, 20%);
$hoverDonate: #accf48;

// transition
$tran: all .3s ease;

@import url("https://use.typekit.net/khg3jcv.css");

@mixin xs {
    @media (min-width: 375px) { @content; }
}
@mixin sm {
    @media (min-width: 576px) { @content; }
}
@mixin md {
    @media (min-width: 768px) { @content; }
}
@mixin lg {
    @media (min-width: 992px) { @content; }
}
@mixin xl {
    @media (min-width: 1200px) { @content; }
}
@mixin xxl {
    @media (min-width: 1400px) { @content; }
}
@mixin xxxl {
    @media (min-width: 1600px) { @content; }
}

$headerItemsWidthTablet: 275px;

@mixin fontPNCB {
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 900;
    font-style: normal;
}

@mixin fontPNCBR {
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin fontMuli {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}
@mixin fontMuliItalic {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin fontHBS {
    font-family: 'Handmade Bugler Solid W00 Rg';
    font-weight: 400;
}


.has-blue-background-color {
    background-color: $blue;
}
.has-light-blue-background-color {
    background-color: $lightBlue;
}
.has-pink-background-color {
    background-color: $pink;
}
.has-dark-pink-background-color {
    background-color: $darkPink;
}
.has-green-background-color {
    background-color: $green;
}
.has-white-background-color {
    background-color: $white;
}
.has-black-background-color {
    background-color: $black;
}

.has-blue-color {
    color: $blue;
}
.has-light-blue-color {
    color: $lightBlue;
}
.has-pink-color {
    color: $pink;
}
.has-dark-pink-color {
    color: $darkPink;
}
.has-green-color {
    color: $green;
}
.has-white-color {
    color: $white;
}
.has-black-color {
    color: $black;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    position: absolute;
}

.animal-fade-enter-active, .animal-fade-leave-active {
    transition: opacity 1s;
}
.animal-fade-enter, .animal-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    position: absolute;
}




.sessions-enter-active {
    transition: opacity .5s;
    transition-delay: .5s;
}
.sessions-leave-active {
    transition: opacity .5s;
}
.sessions-enter {
    opacity: 0;
    position: absolute;
    width: 100%;
}
.sessions-leave-to {
    opacity: 0;
    position: absolute;
    width: 100%;
}
