.bwm_accordion {
    .accordion {
        .card {
            position: relative;
            border: none;
            border-radius: 0;
            .svg_wrapper {
                svg {
                    width: 100%;
                    position: relative;
                    height: 30px;
                    @include md {
                        height: 40px;
                    }
                }
                &.svg_top svg {
                    top: 1px;
                }
                &.svg_bottom svg {
                    bottom: 1px;
                }
            }
            &.not_jagged {
                margin-bottom: 15px;
                .card-header {

                }
            }
            &.jagged {
                .card-header {
                    padding: 0 15px;
                }
            }
            .card-header {
                background-color: $blue;
                button {
                    align-items: center;
                    width: 100%;
                    color: $white;
                    @include fontPNCB();
                    border-radius: 0;
                    border: none;
                    font-size: 22px;
                    @include lg {
                        font-size: 30px;
                    }
                    &:hover {
                        background-color: transparent;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
            .card-body {
                padding-bottom: 0;
                color: $white;
                h1, h2, h3, h4, h5, h6 {
                    @include fontPNCB();
                }
                a.accordion_link {
                    display: inline-block;
                    padding: 8px 15px;
                    transition: $tran;
                    background-color: $white;
                    @include fontPNCB();
                    font-size: 18px;
                    color: $blue;
                    &:hover {
                        text-decoration: none;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
