.animal_details {
    .animal_details_inner {
        > div {
            margin-right: 15px;
            @include fontMuli();
            &:last-of-type {
                margin-right: 0;
            }
            strong {
                font-size: 22px;
                color: $blue;
            }
            span {
                color: $blue;
                font-size: 22px;
            }
        }
    }
}
