
.conservation_status {
    margin: 30px 0;
    padding-bottom: 30px;
    .conservation_status_name_wrapper {
        @include fontHBS();
        font-size: 24px;
        color: $blue;
        span {
            color: $green;
        }
    }
    .conservation_status_inner {
        position: relative;
        margin-top: 15px;
        .conservation_bg {
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            background: rgb(16,130,84);
            background: linear-gradient(90deg,
                rgba(16,130,84,1) 0%,
                rgba(133,198,63,1) 15%,
                rgba(238,139,35,1) 35%,
                rgba(224,47,33,1) 65%,
                rgba(145,24,6,1) 85%,
                rgba(37,8,22,1) 100%
            );
            height: 32px;
            @include xl {
                height: 38px;
            }
        }
        .least_concern, .extinct_wild {
            position: absolute;
            bottom: -30px;
            font-size: 10px;
            color: lighten($blue, 10%);
        }
        .least_concern {
            left: -10px;
            span {
                padding-left: 20px;
                border-bottom: 2px solid #D6DBD9;
            }
            .lc_line {
                bottom: 0;
                position: absolute;
                > div {
                    background-color: #D6DBD9;
                }
                > div:nth-child(1){
                    width: 20px;
                    height: 2px;
                }
                > div:nth-child(2){
                    width: 2px;
                    height: 45px;
                    @include xl {
                        height: 48px;
                    }
                }
            }
        }
        .extinct_wild {
            right: -10px;
            span {
                padding-right: 20px;
                border-bottom: 2px solid #D6DBD9;
            }
            .ew_line {
                bottom: 0;
                position: absolute;
                right: 0;
                > div {
                    background-color: #D6DBD9;
                }
                > div:nth-child(1){
                    width: 20px;
                    height: 2px;
                    right: 0;
                }
                > div:nth-child(2){
                    width: 2px;
                    float: right;
                    height: 45px;
                    @include xl {
                        height: 48px;
                    }
                }
            }
        }
        .conservation_notch {
            z-index: 0;
            opacity: 0;
            position: absolute;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            background-color: transparent;
            border: 3px solid $white;
            background-color: #cd3b29;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            top: -3px;
            @include xl {
                top: -5px;
                height: 50px;
                width: 50px;
            }
            span {
                color: $white;
                @include fontHBS();
                font-size: 14px;
                @include xl {
                    font-size: 16px;
                }
            }
        }
    }
}
