.flexible_content {
    &.homepage_block {
        position: relative;
        top: -30px;
        @include md {
            top: -40px;
        }
    }
    .content {
        .svg_wrapper {
            svg {
                width: 100%;
                position: relative;
                height: 30px;
                @include md {
                    height: 40px;
                }
            }
            &.svg_top svg {
                top: 1px;
            }
            &.svg_bottom svg {
                bottom: 1px;
            }
        }
        .content_inner {
            padding: 15px 0;
            .main_content {
                @for $i from 1 through 7 {
                    h#{7 - $i} {
                        color: $white;
                        @include fontHBS();
                        margin-bottom: 30px;
                    }
                }
                p {
                    margin-bottom: 10px;
                }
                p, li, a {
                    @include fontMuli();
                }
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include lg {
                flex-direction: row;
            }
            > div {
                text-align: center;
                display: block;
                a {
                    display: inline-block;
                    padding: 8px 15px;
                    font-size: 18px;
                    @include fontPNCB();
                    margin: 0 0 10px 0;
                    transition: $tran;
                    &:hover {
                        text-decoration: none;
                        opacity: 0.8;
                    }
                    @include lg {
                        margin: 0 15px;
                    }
                }
                &:last-of-type a {
                    margin: 0;
                    @include lg {
                        margin: 0 15px;
                    }
                }
            }
        }
    }
}
