.jagged_buttons {
    .jagged_buttons_inner {
        .jagged_button_item {
            margin: 0 0 10px 0;
            width: 100%;
            &:last-of-type {
                margin: 0;
            }
            @include sm {
                width: 50%;
                margin: 0 15px;
                &:first-of-type {
                    margin: 0 15px 0 0;
                }
                &:last-of-type {
                    margin: 0 0 0 15px;
                }
            }

            a {
                position: relative;
                width: 100%;
                display: block;
                transition: $tran;
                @include fontHBS();
                &:hover {
                    opacity: 0.8;
                    text-decoration: none;
                }
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include fontHBS();
                    width: 100%;
                    text-align: center;
                    margin-top: 1px;
                    font-size: 20px;
                    @include xl {
                        font-size: 24px;
                    }
                }
                svg {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
