.text_image_block {
    position: relative;
    .text_image_grid {
        .grid_item_image {
            margin-bottom: 15px;
            padding-bottom: 0%;
            &.pop {
                padding-bottom: 100%;
            }
            @include md {
                margin-bottom: 0;
                padding-bottom: 0;
                height: 100%;
            }
            img {
                width: 100%;
                object-fit: cover;
                &:not(.pop){
                    height: 100%;
                }
                @include md {
                    bottom: 0;
                }
                &.pop {
                    object-fit: contain;
                    width: auto;
                    position: absolute;
                    object-fit: cover;
                    min-height: 115%;
                    max-height: 115%;
                    bottom: 15px;
                    width: 100%;
                    @include md {
                        bottom: 0;
                    }
                }
            }
        }
        @include md {
            .order-md-2 {
                .grid_item_content {
                    padding: 15px 0 0 30px;
                }
            }
        }
        .grid_item_content {
            padding: 15px 0 0 0;
            &.pop {
                padding-bottom: 60px;
                @include sm {
                    padding-bottom: 120px;
                }
                @include md {
                    padding-bottom: 0;
                }
            }
            @include md {
                height: 100%;
                padding: 15px 30px 0 0;
            }
            a {
                transition: $tran;
                &:hover {
                    text-decoration: none;
                    h3 {
                        text-decoration: none;
                    }
                    span.link_arrow {
                        margin-left: 10px;
                    }
                }
            }
            h3 {
                display: inline;
                @include fontHBS();
                font-size: 24px;
                @include md {
                    font-size: 30px;
                }
            }
            .link_arrow {
                transition: $tran;
                font-size: 1.5em;
                height: 1.5em;
                line-height: 1.2em;
                width: 1.5em;
                .fa-angle-right {
                    color: $white;
                }
            }
            .item_content {
                margin-bottom: 45px;
                margin-top: 15px;
                @include md {
                    margin-bottom: 30px;
                }
                * {
                    @include fontMuli();
                }
                a:not(.item_link) {
                    &:hover {
                        text-decoration: underline !important;
                    }
                }
                a.item_link {
                    background-color: $blue;
                    padding: 8px 15px;
                    @include fontPNCB();
                    font-size: 18px;
                    color: $white;
                    position: relative;
                    z-index: 1;
                    transition: $tran;
                    &:hover {
                        opacity: 0.8;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
