.text_image_alternate_block {
    position: relative;
    margin: 0;
    z-index: 0;
    .hidden_mob {
        display: none;
        @include md {
            display: block !important;
        }
    }

    &.accordion {
        .text_image_grid {
            .accordion_wrapper {
                .final_accordion_accent_bottom {
                    svg {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 15px;
                        height: 35px;
                    }
                }
                .accordion_item {
                    position: relative;
                    .accordion_content .grid_item_content > .svg_wrapper svg {
                        position: absolute;
                        left: 0;
                        z-index: 0;
                    }

                    .accordion_content {
                        @include md {
                            display: block;
                        }
                        &.open {
                            height: 100%;
                        }

                        .grid_item_content {
                            @media(max-width: 767px){
                                padding: 15px 15px 45px 15px;
                            }
                            .item_content {
                                margin-top: 0;
                                padding-top: 30px;
                                margin-bottom: -30px;
                                @include md {
                                    padding-top: 0px;
                                    margin-top: 15px;
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .svg_wrapper {
                            @include md {
                                display: none;
                            }
                            svg {
                                top: -15px;
                                width: 100%;
                                position: relative;
                                height: 30px;
                                @include md {
                                    height: 40px;
                                }
                                @include xl {
                                    height: auto;
                                }
                            }
                        }

                        .item_content {
                            * {
                                @media(max-width: 767px){
                                    color: $white;
                                }
                            }
                        }
                    }

                    .accordion_bg {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        @include md {
                            display: none;
                        }
                    }

                    &:last-of-type {
                        .grid_item_content {
                            padding-bottom: 15px;
                        }
                        .item_link {
                            @media(max-width: 767px){
                                margin-bottom: 30px;
                            }
                        }
                    }

                }
            }
        }
    }

    h3 {
        display: inline;
        @include fontHBS();
        color: $blue;
        font-size: 24px;
        @include md {
            font-size: 26px;
        }
        @include xl {
            font-size: 30px;
        }
    }

    .text_image_grid {
        .row {
            position: relative;
            @include md {
                margin-bottom: 30px;
            }
            .accent {
                width: 100%;
                position: absolute;
                bottom: -15px;
                @include md {
                    bottom: -3px;
                    display: block;
                }
            }
        }

        .grid_item_image {
            height: 100%;
            .wpex-card-thumbnail {
                height: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .order-md-2 .grid_item_content {
            @include md {
                padding: 15px 0 45px 30px;
            }
        }

        .grid_item_content {
            position: relative;
            padding: 30px 15px 15px 15px;
            @include md {
                padding: 15px 30px 45px 0;
            }
            .link_arrow {
                font-size: 1.5em;
                height: 1.5em;
                line-height: 1.2em;
                width: 1.5em;
                .fa-angle-right {
                    color: $white;
                }
            }
            .item_content {
                margin-top: 15px;
                position: relative;
                font-size: 16px;
                @include fontMuli();
                @include md {
                    margin-bottom: 0px;
                    font-size: 14px;
                }
                @include xl {
                    font-size: 16px;
                }
                a.item_link {
                    background-color: $blue;
                    padding: 8px 15px;
                    @include fontPNCB();
                    font-size: 16px;
                    display: inline-block;
                    color: $white;
                    transition: $tran;
                    &:hover {
                        text-decoration: none;
                        opacity: 0.8;
                    }
                }

                .card_blog_post_meta {
                    * {
                        font-style: italic;
                    }
                }
            }
        }
    }
}

.accordion_toggle {
    transition: all .3s ease;
    @include md {
        display: none;
    }
    button, a.accordion_open_title {
        width: 100%;
        background-color: $blue;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        align-items: center;
        text-align: left;
        .svg_wrapper {
            &.svg_top svg {
                top: -29px;
            }
            &.svg_bottom svg {
                top: auto;
                bottom: -29px;
                z-index: 1;
            }
            svg {
                position: absolute;
                height: 30px;
                left: 0;
                width: 100%;
            }
        }
    }
    h3 {
        color: $white;
        font-size: 18px;
        margin: 0;
    }
    i {
        transition: $tran;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 24px;
        color: $white;
    }
    &.active {
        i {
            transform: rotate(90deg);
            color: $lightBlue;
        }
    }
}

.text_image_alternate_block.listings .text_image_grid .row .accent {
    display: block;
    position: relative;
    overflow-x: hidden;
    bottom: 10px;
    @include sm {
        height: 20px;
    }
    @include md {
        overflow: visible;
        bottom: -3px;
        position: absolute;
    }
    svg {
        height: 20px;
        @include sm {
            height: auto;
        }
        @include md {
            height: auto;
        }
    }
}

.item_content {

    .flex-md-row {
        > div {
            @include md {
                width: 50%;
            }
        }
    }

    .feeding_times {
        margin-bottom: 10px;
        i {
            font-size: 32px;
            font-family: "Font Awesome 5 Free" !important;
            display: none;
            @include md {
                margin-bottom: 10px;
                display: block;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                font-size: 18px;
                display: inline-block;
                width: 50%;
                float: left;
                margin-bottom: 5px;
                @include fontPNCB();
            }
        }
    }
}
