/*
Theme Name: Bigwave Media
Theme URI: https://bigwavemedia.co.uk
Description:
Author: Bigwave Media
Author URI: https://bigwavemedia.co.uk
Template: Total
Version: 1.0
*/

/* This theme uses Sass ye know */

@font-face {
    font-family: "Handmade Bugler Solid W00 Rg";
    src: url("fonts/29277eefcb2d6cc2f152bcf1f17f9b1e.eot"); /* IE9*/
    src: url("fonts/29277eefcb2d6cc2f152bcf1f17f9b1e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/29277eefcb2d6cc2f152bcf1f17f9b1e.woff2") format("woff2"), /* chrome、firefox */
    url("fonts/29277eefcb2d6cc2f152bcf1f17f9b1e.woff") format("woff"), /* chrome、firefox */
    url("fonts/29277eefcb2d6cc2f152bcf1f17f9b1e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("fonts/29277eefcb2d6cc2f152bcf1f17f9b1e.svg#Handmade Bugler Solid W00 Rg") format("svg"); /* iOS 4.1- */
}
