
.wp-block-image.is-style-jagged {
    position: relative;
    &:before {
        position: absolute;
        content: '';
        background-image: url("/wp-content/themes/bigwave-media/assets/white_jagged.png");
        width: 100%;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;
        top: 0;
        left: 0;
        height: 30px;
        right: 0;
    }
    &:after {
        position: absolute;
        content: '';
        background-image: url("/wp-content/themes/bigwave-media/assets/white_jagged.png");
        width: 100%;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 39399393;
        left: 0;
        height: 30px;
        right: 0;
        bottom: 0;
        transform: rotate(180deg);
    }
    img {
        width: 100%;
    }
}

.wp-block-separator.is-style-dots {
    border-bottom: 2px dotted $blue;
    &.has-blue-background-color {
        border-bottom: 2px dotted $blue;
    }
    &.has-light-blue-background-color {
        border-bottom: 2px dotted $lightBlue;
    }
    &.has-pink-background-color {
        border-bottom: 2px dotted $pink;
    }
    &.has-dark-pink-background-color {
        border-bottom: 2px dotted $darkPink;
    }
    &.has-green-background-color {
        border-bottom: 2px dotted $green;
    }
    &.has-white-background-color {
        border-bottom: 2px dotted $white;
    }
    &.has-black-background-color {
        border-bottom: 2px dotted $black;
    }
    &:before {
        display: none;
    }
}

figure.wp-block-table {
    &.is-style-regular {
        margin-bottom: 0;
        display: block;
        overflow-x: scroll;
        @include md {
            overflow-x: auto;
        }
    }

    &.is-style-animal-experiences {
        margin-bottom: 15px;
        overflow-x: hidden;
        @include md {
            overflow-x: auto;
        }

        table {
            td {
                color: $white;
            }
        }
    }

    table tr:first-child td, table tr:first-child th {
        border-top: 0;
    }
    table tr td:first-child, table tr th:first-child {
        border-left: 0;
    }
    table tr:last-child td, table tr:last-child th {
        border-bottom: 0;
    }
    table tr td:last-child, table tr th:last-child {
        border-right: 0;
    }

    table {
        &.has-fixed-layout {
            width: auto;
            @include xl {
                width: 100%;
            }
            thead {
                tr {
                    th {
                        word-break: normal;
                        min-width: 75px;
                        @include sm {
                            min-width: 100px;
                        }
                        @include md {
                            min-width: 150px;
                        }
                        @include xl {
                            min-width: auto;
                            word-break: break-word;
                        }
                    }
                }
            }
        }
        thead {
            background-color: $blue;
            text-align: center;
            th {
                border: 2px solid $white;
                vertical-align: middle;
                color: $white;
                @include fontHBS();
                padding: 8px 10px;
                font-size: 20px;
                @include md {
                    padding: 12px 15px;
                    font-size: 24px;
                }
                @include xl {
                    font-size: 30px;
                }
            }
        }
        tbody {
            @include fontMuliItalic();
            text-align: center;
            color: $blue;
            background-color: transparentize(darken($black, 20%), 0.8);
            font-size: 14px;
            @include md {
                font-size: 16px;
            }
            td {
                padding: 8px 10px;
                border: 2px solid $white;
                @include md {
                    padding: 12px 15px;
                }
            }
        }
    }
}
