.featured_image {
    position: relative;
    top: 30px;
    @include md {
        top: 20px;
    }
    @include lg {
        top: 25px;
    }
    .featured_bg {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 325px;
        object-fit: cover;
        @include lg {
            height: 425px;
        }
        @include xl {
            height: 450px;
        }
    }
}
