.site_footer {
    position: relative;
    margin-top: -25px;
    z-index: 999;
    @include md {
        margin-top: -30px !important;
    }
    img.footer_top {
        width: 100%;
        position: relative;
        top: 1px;
        height: 30px;
        @include md {
            height: 40px;
        }
        @include xl {
            height: auto;
        }
    }
    .footer_inner {
        padding: 5px 0px 20px 0;
        @include md {
            padding: 30px 15px;
        }
        @include xl {
            padding: 30px;
        }
        @media(min-width: 1400px){
            padding: 30px 60px;
        }
        background-color: $blue;
        #copyright {
            @include fontMuli();
            color: $white;
            font-size: 9px;
            @include lg {
                font-size: 8px;
            }
            @include xl {
                font-size: 10px;
            }
            @media(min-width: 1400px) {
                font-size: 12px;
            }
        }
        form.newsletter_signup {
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            @include md {
                align-items: flex-start;
            }
            label {
                margin: 0;
                white-space: nowrap;
                color: $white;
                display: block;
                width: 100%;
                @include fontPNCB();
                text-align: center;
                font-size: 17px;
                @include md {
                    font-size: 12px;
                }
                @include lg {
                    width: auto;
                    font-size: 14px;
                }
                @include xl {
                    font-size: 18px;
                }
                @media(min-width: 1400px){
                    font-size: 22px;
                }
                @media(min-width: 1600px){
                    font-size: 28px;
                }
            }
            input {
                border-radius: 0;
                border: none;
                font-size: 12px;
                margin: 0;
                width: 100%;
                border-bottom: 3px solid $white;
                padding: 13px 5px;

                @include fontMuli();
                @include md {
                    margin: 0 5px 0 0;
                    width: calc(70% - 15px);
                    padding: 13px 5px;
                }
                @include lg {
                    width: 100%;
                    font-size: 12px;
                    padding: 13px 5px;
                }
                @include xl {
                    flex-grow: 1;
                    margin: 0 8px 0 0;
                    font-size: 18px;
                    padding: 9px 5px;
                }
                @media(min-width: 1400px){
                    margin: 0 10px 0 0;
                    padding: 10px 5px;
                }
                @media(min-width: 1600px){
                    padding: 13px 5px;
                    margin: 0 15px 0 0;
                }
            }
            input[type="email"]:active, input[type="email"]:focus {
                border-bottom: 3px solid $lightBlue;
            }
            .form_submit {
                position: relative;
                margin: 8px 0 0 0;
                text-align: center;
                @include sm {
                    width: 30%;
                }
                @include md {
                    margin: 0;
                    width: 40%;
                }
                @include lg {
                    width: auto;
                }
                button {
                    border: none;
                    background-color: transparent;
                    position: relative;
                    z-index: 1;
                    margin: 0;
                    @include fontPNCB();
                    width: 100%;
                    transition: $tran;
                    font-size: 20px;
                    text-align: center;
                    padding: 10px 25px 5px 25px;
                    @include sm {
                        padding: 10px 20px 5px 20px;
                    }
                    @include xl {
                        padding: 11px 20px 6px 20px;
                    }
                    @media(min-width: 1400px){
                        padding: 13px 20px 7px 20px;
                    }
                    @media(min-width: 1600px){
                        padding: 15px 20px 10px 20px;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
                img {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    height: 100%;
                }
            }
        }
        .footer_other_sites {
            display: flex;
            align-items: flex-end;
            margin-bottom: 15px;
            justify-content: space-between;
            @include md {
                margin-bottom: 0;
                margin-right: 15px;
                align-items: center;
                justify-content: flex-end;
                flex-direction: column;
            }
            @include lg {
                margin-right: 0;
                justify-content: space-around;
                flex-direction: row;
            }
            @include xl {
                margin-right: 15px;
            }
            .other_sites {
                width: 30%;
                &:hover {
                    img {
                        opacity: 0.9;
                    }
                }
                @include md {
                    margin-bottom: 10px;
                    width: 60%;
                }
                @include lg {
                    margin-bottom: 0;
                    width: 40%;
                }
                @media(min-width: 1400px){
                    width: 45%;
                }
                &.central {
                    margin: 0 20px;
                    width: 50%;
                }
                &.wpt {
                    width: 20%;
                    @include md {
                        width: 40%;
                    }
                    @include lg {
                        width: 25%;
                    }
                    @media(min-width: 1400px){
                        width: 30%;
                    }
                }
                img {
                    transition: $tran;
                }
            }
        }
        .bwm_credit {
            @include fontMuli();
            color: $white;
            text-align: center;
            font-size: 10px;
            margin-top: 5px;
            @include md {
                margin-top: 0px;
                font-size: 12px;
                text-align: right;
            }
            @include xl {
                font-size: 10px;
            }
            @media(min-width: 1400px){
                font-size: 11px;
            }
            @media(min-width: 1600px){
                font-size: 13px;
            }
            @media(min-width: 1800px){
                font-size: 14px;
            }
            a {
                color: $white;
            }
        }
        #footer-bottom-menu {
            .menu-footer-menu-container {
                margin-top: 15px;
                text-align: center;
                @include md {
                    text-align: right;
                }
                ul {
                    li {
                        margin-bottom: 5px;
                        padding: 0 6px 0 6px;
                        line-height: 13px;
                        @include md {
                            border-left: 1px solid $lightBlue;
                            padding: 0 0px 0 4px;
                            line-height: 13px;
                        }
                        @include lg {
                            margin-bottom: 0;
                        }
                        @include xl {
                            line-height: 14px;
                            padding: 0 1px 0 5px;
                        }
                        @media(min-width: 1400px){
                            line-height: 16px;
                            padding: 0 3px 0 7px;
                        }
                        @media(min-width: 1600px){
                            padding: 0 4px 0 7px;
                        }
                        &:not(:first-child) {
                            margin: 0;
                        }
                        &:first-of-type {
                            border-left: none;
                        }
                        &:last-of-type {
                            padding-right: 0;
                        }
                        a {
                            color: $white;
                            font-size: 13px;
                            @include md {
                                font-size: 11px;
                            }
                            @include lg {
                                font-size: 11px;
                            }
                            @include xl {
                                font-size: 10px;
                            }
                            @media(min-width: 1400px){
                                font-size: 11px;
                            }
                            @media(min-width: 1600px){
                                font-size: 12px;
                            }
                            @media(min-width: 1800px){
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .mobile_copyright {
            text-align: center;
            @include fontMuli();
            font-size: 10px;
            color: $white;
        }
        ul.social {
            margin: 0 0 15px 0;
            text-align: right;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li {
                display: inline-block;
                @include md {
                    margin-left: 5px;
                }
                @include xl {
                    margin-left: 6px;
                }
                @media(min-width: 1400px){
                    margin-left: 10px;
                }
                &:first-child {
                    margin-left: 0;
                }
                a {
                    &:hover {
                        .social_item svg {
                            opacity: 0.8;
                        }
                    }
                }
                .social_item {
                    position: relative;
                    svg {
                        transition: $tran;
                        fill: $white;
                        width: 32px;
                        height: 32px;
                        @include xl {
                            width: 34px;
                            height: 34px;
                        }
                        @media(min-width: 1400px){
                            width: 36px;
                            height: 36px;
                        }
                        @media(min-width: 1600px){
                            width: 40px;
                            height: 40px;
                        }
                    }
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $blue;
                        font-size: 14px;
                        @include xl {
                            font-size: 15px;
                        }
                        @media(min-width: 1400px){
                            font-size: 16px;
                        }
                        @media(min-width: 1600px){
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
