.wpcf7, .newsletter_signup_wrapper form.newsletter_signup {
    padding: 0 15px;
    p {
        margin-bottom: 0 !important;
    }
    label {
        @include fontMuli();
        width: 100%;
        span {
            display: block;
            font-size: 18px;
        }
    }
    span.wpcf7-not-valid-tip {
        background-color: $white;
        border: 2px solid #b00020;
        padding: 0 10px;
    }
    input:not([type='checkbox']), input:not([type='radio']), textarea, select {
        border-radius: 0px;
        width: 100%;
        border: none;
        background: transparent;
        background-color: transparent;
        color: $blue;
        padding-left: 10px;
        padding-right: 10px;
        background-image: url('/wp-content/themes/bigwave-media/assets/form_input_bg_new.svg');
    }
    textarea {
        padding-top: 15px;
        padding-bottom: 15px;
        background-size: cover;
    }
    input[type="text"], input[type="email"], input[type="submit"], input[type="number"], input[type="date"], select {
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    select {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    input[type="submit"].wpcf7-submit, input[type="submit"], button[type="submit"] {
        width: auto;
        margin: auto;
        display: block;
        color: $white;
        font-size: 18px;
        padding: 15px 45px;
        background-size: cover;
        @include fontPNCB();
        border: none;
        background-color: transparent;
        line-height: normal;
        background-image: url('/wp-content/themes/bigwave-media/assets/form_input_submit.svg');
        &:hover {
            background-color: transparent;
        }
    }

    input, textarea, select {
        &.filled {
            color: $white;
            @include fontPNCB();
        }
    }

    .wpcf7-checkbox {
        label {
            display: flex;
            align-items: center;
            input {
                margin-right: 30px;
                width: 30px;
                height: 30px;
            }
        }
    }
}

.newsletter_signup label {
    margin: 10px 0 5px 0;
}
