header.main_site_header {
    position: relative;
    z-index: 9;
    .header_wrapper {
        background-color: $blue;
        color: $white;
        padding: 30px 0px 5px 0px;
        position: relative;
        z-index: 1;
        @include md {
            padding: 15px 15px 0px 15px;
        }
        @include lg {
            padding: 15px 15px 0px 15px;
        }
        #site-logo {
            margin-left: 25px;
            @include lg {
                margin-left: 0;
            }
        }
        .top_bar {
            display: none;
            @include md {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding-right: 2px;
            }
            ul.social {
                margin: 0;
                li {
                    display: inline-block;
                    margin-left: 5px;
                    &:first-child {
                        margin-left: 0;
                    }
                    a {
                        &:hover .social_item svg {
                            fill: $lighterBlue;
                        }
                    }
                    .social_item {
                        position: relative;
                        svg {
                            fill: $lightBlue;
                            width: 32px;
                            height: 32px;
                            transition: all .2 ease;
                        }
                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: $blue;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .header_right {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .open_menu_mobile {
                position: absolute;
                background-color: transparent;
                padding: 0;
                margin: 0;
                border: none;
                right: -90px;
                top: 40px;
                @include md {
                    top: 5px;
                }
                @include lg {
                    display: none;
                }
                .open_menu_mobile_inner {
                    position: relative;
                    i {
                        font-size: 22px;
                        position: absolute;
                        left: 25px;
                        transform: translateY(-50%);
                        top: 50%;
                        z-index: 10;
                    }
                    img.open_mobile_menu_bg {
                        position: absolute;
                        z-index: 5;
                        transform: scale(1.005);
                    }
                }
            }

            .header_row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                > *:first-child {
                    margin-left: 0px;
                }
                > * {
                    margin-left: 15px;
                }
                &.top {
                    justify-content: center;
                    @include md {
                        width: $headerItemsWidthTablet;
                    }
                    @include lg {
                        width: auto;
                        justify-content: space-between;
                    }
                }
                .site_top_bar {
                    display: none;
                    @include lg {
                        display: flex;
                        align-items: center;
                    }
                    #top-bar-wrap {
                        #top-bar {
                            font-size: 11px;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 0;
                            ul li {
                                transition: $tran;
                                color: $lightBlue;
                                padding-right: 10px;
                                margin-right: 0;
                                border-right: 2px solid $lightBlue;
                                padding-left: 8px;
                                &:hover {
                                    text-decoration: none;
                                    color: lighten($lightBlue, 20%);
                                }
                            }
                            ul li:first-child {
                                padding-left: 0;
                            }
                            ul li:last-child {
                                border-right: none;
                                padding-right: 0;
                            }
                        }
                    }
                }
                .other_sites {
                    display: none;
                    @include lg {
                        display: block;
                    }
                }
                img {
                    height: 50px;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .row_item_links_wrapper {
                    display: none;
                    @include md {
                        display: flex;
                        justify-content: space-between;
                        width: $headerItemsWidthTablet;
                    }
                    @include lg {
                        width: auto;
                    }
                    .row_item:last-of-type {
                        margin-left: 15px;
                    }
                }
                .row_item {
                    display: flex;
                    align-items: center;
                    a {
                        display: flex;
                        align-items: center;
                        color: $white;
                        transition: $tran;
                        &:hover {
                            color: $lightBlue;
                            text-decoration: none;
                        }
                    }
                    i {
                        color: $lightBlue;
                        font-size: 40px;
                    }
                    span {
                        @include fontPNCB;
                        line-height: 22px;
                        font-size: 22px;
                        margin-left: 10px;
                    }
                    a.shop_cart {
                        margin-right: 15px;
                        @include lg {
                            margin-right: 0;
                        }
                        i {
                            font-size: 28px;
                            @include md {
                                font-size: 30px;
                            }
                            @include lg {
                                font-size: 35px;
                            }
                        }
                    }
                }
                .searchbar {
                    display: none;
                    @include md {
                        position: relative;
                        margin-right: 15px;
                        display: block;
                    }
                    @include lg {
                        margin-right: 0;
                    }
                    input {
                        border-radius: 18px;
                        height: 36px;
                        padding-left: 30px;
                        font-size: 16px;
                        &:active, &:focus {
                            border: 3px solid $lightBlue;
                        }
                        @include md {
                            width: $headerItemsWidthTablet;
                        }
                        @include lg {
                            width: 425px;
                        }
                    }
                    button.submit {
                        height: 100%;
                        margin: 0;
                        opacity: 1;
                        background: transparent;
                        top: 50%;
                        padding-left: 10px;
                        padding-right: 5px;
                        position: absolute;
                        transform: translateY(-50%);
                        left: 0px;
                        font-size: 16px;
                        line-height: 15px;
                        i {
                            color: $lightBlue;
                        }
                    }
                }
            }
        }
    }
    img.header_bottom {
        width: 100%;
        position: relative;
        top: -5px;
        height: 30px;
        @include md {
            height: 40px;
        }
        @include xl {
            height: auto;
        }
    }
}
