.homepage_cta_wrapper {
    position: relative;
    top: -30px;
    padding-bottom: 15px;
    @include md {
        top: -30px;
        padding-bottom: 30px;
    }
    .svg_wrapper {
        margin-bottom: 5px;
        svg {
            transform: scaleX(-1);
            width: 100%;
            position: relative;
            height: 30px;
            top: 10px;
            @include md {
                height: 40px;
            }
            @include xl {
                height: auto;
            }
        }
    }
    .cta_item {
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        a {
            @include fontHBS();
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            flex-direction: column;
            color: $blue;
            font-size: 11px;
            @include sm {
                font-size: 14px;
            }
            @include md {
                flex-direction: row;
                font-size: 18px;
            }
            @include lg {
                flex-direction: row;
                font-size: 24px;
            }
            @include xl {
                font-size: 28px;
            }
            @include xxl {
                font-size: 30px;
            }
            img {
                width: 65px;
                @include md {
                    padding-right: 5px;
                    width: 80px;
                }
                @include xl {
                    padding-right: 15px;
                    width: 100px;
                }
            }
            span {
                margin: 10px 0 0 0;
                @include md {
                    margin: 0;
                }
            }
        }
    }
}
