.nav_container {
    position: relative;
    z-index: 1;
    display: none;
    top: -30px;
    margin-bottom: 0;
    @include lg {
        top: auto;
        margin-top: -30px;
        display: block;
    }
    nav {
        padding-top: 40px;
        background-color: $green;
        width: 100%;
        position: relative;
        @include lg {
            position: static;
            background-color: $green;
            margin-bottom: -5px;
        }

        ul.menu {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            @include lg {
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
            }
            li {
                text-align: left;
                margin-bottom: 15px;
                .desktop_submenu_open_indictator {
                    display: none;
                }
                @include lg {
                    margin-bottom: 0;
                    text-align: center;
                    flex: 1 1 0px;
                    align-self: stretch;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    border-right: 1px solid $white;
                    .menu_item_inner {
                        position: relative;
                        .desktop_submenu_open_indictator {
                            display: none;
                            margin: 0;
                            padding: 0;
                            width: auto;
                            position: absolute;
                            bottom: -15px;
                            left: 50%;
                            z-index: 10;
                            transform: translateX(-50%);
                        }
                    }
                }
                &:last-of-type {
                    border-right: none;
                }
                &.open {

                    @include lg {
                        .sub_menu_wrapper {
                            top: calc(100% - 30px);
                        }
                    }
                }

                i {
                    color: $white;
                    font-size: 20px;
                    padding-right: 15px;
                    width: 40%;
                    text-align: right;
                    @include lg {
                        width: auto;
                    }
                }

                a {
                    padding: 0 30px;
                    color: $white;
                    font-size: 18px;
                    display: block;
                    position: relative;
                    z-index: 10;
                    line-height: 24px;
                    width: 60%;
                    @include fontPNCB();
                    @include lg {
                        width: auto;
                        margin-bottom: 0;
                        font-size: 20px;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }

                .sub_menu_wrapper {
                    transition: $tran;
                    width: 100%;
                    position: relative;
                    // height: 0;
                    overflow: hidden;
                    display: none;
                    @include lg {
                        display: block;
                        overflow: visible;
                        height: auto;
                        left: 0;
                        z-index: -1;
                        position: absolute;
                        bottom: 45px;
                    }

                    .sub_menu_wrapper_inner {
                        background-color: $pink;
                        padding: 0;
                        @include lg {
                            padding: 60px 0 0 0;
                        }


                        .sub_menu_container {
                            position: relative;
                            &:after {
                                position: absolute;
                                border-left: 2px dotted $white;
                                width: 0;
                                height: 100%;
                                content: '';
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                @include lg {
                                    display: none;
                                }
                            }
                        }

                        ul.sub-menu {
                            text-align: left;
                            list-style-type: none;
                            margin: -30px 0 -10px 0;
                            padding: 30px 15px 0 15px;
                            display: flex;
                            flex-wrap: wrap;
                            @include lg {
                                display: block;
                                position: static;
                                padding: 0;
                                margin: 0;
                            }
                            li {
                                display: inline-block;
                                text-align: left;
                                font-size: 18px;
                                border-right: none;
                                justify-content: flex-start;
                                width: 50%;
                                margin-bottom: 15px;
                                padding-right: 10px;
                                float: left;
                                @include lg {
                                    float: none;
                                    margin-bottom: 0;
                                    padding-right: 0px;
                                }
                                &:nth-child(even){
                                    padding-left: 10px;
                                    padding-right: 0;
                                    @include lg {
                                        padding-left: 0;
                                    }
                                }
                                @include lg {
                                    width: 50%;
                                    line-height: 30px;
                                }
                                @include xl {
                                    width: 32%;
                                }
                                i {
                                    color: $white;
                                }
                                a {
                                    padding: 0;
                                    margin-bottom: 0;
                                    display: inline-block;
                                    line-height: 16px;
                                    @include fontPNCB();
                                    @include lg {
                                        font-size: 16px;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                        .close_submenu {
                            margin-top: 10px;
                            position: absolute;
                            padding: 0px;
                            left: 50%;
                            transform: translateX(-50%);
                            background-color: $green;
                            border-radius: 50%;
                            width: 38px;
                            height: 38px;
                            display: none;
                            vertical-align: middle;
                            z-index: 10;
                            line-height: 38px;
                            text-align: center;
                            @include lg {
                                display: block;
                            }
                            i {
                                text-align: center;
                                font-size: 24px;
                                width: 100%;
                                padding: 0 0 0 1px;
                                height: 100%;
                                line-height: 38px;
                            }
                        }
                    }
                    .current_parent_item {
                        color: $white;
                        line-height: 40px;
                        @include fontPNCB();
                        font-size: 32px;
                        @include xl {
                            font-size: 36px;
                        }
                        &.shrink {
                            font-size: 28px;
                            @include xl {
                                font-size: 32px;
                            }
                        }
                    }
                    img {
                        width: 100%;
                        top: -1px;
                        height: 40px;
                        position: relative;
                        &.submenu_top {
                            top: -15px;
                            transform: rotate(180deg) scaleY(-1) scaleX(-1);
                            position: relative;
                        }
                    }
                }
            }
        }

    }
    img.nav_bottom {
        width: 100%;
        height: 30px;
        position: absolute;
        top: calc(100% - 1px);
        @include md {
            position: relative;
            top: -1px;
            height: 40px;
        }
        @include xl {
            height: auto;
        }
    }
}
