.page_heading {
    position: relative;
    margin-bottom: 30px;
    .svg_wrapper {
        &.svg_bottom {
            svg {
                bottom: 1px;
            }
        }
        svg {
            width: 100%;
            position: relative;
            height: 30px;
            @include md {
                height: 40px;
            }
        }
    }
    .page_heading_inner {
        display: flex;
        justify-content: center;
        padding: 5px 0;
        @include lg {
            padding: 0;
            justify-content: space-between;
        }
        .page_heading_left {
            width: 26%;
        }
        .page_heading_right {
            width: 100%;
            text-align: center;
            display: block;
            @include lg {
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-align: left;
                width: 69%;
            }
            h1 {
                color: $white;
                @include fontHBS();
                margin: 0;
                font-size: 30px;
                text-align: center;
                @include lg {
                    text-align: left;
                    width: 60%;
                    font-size: 45px;
                    &.shrink {
                        font-size: 38px;
                    }
                }
            }
            .bc_wrapper {
                width: 40%;
            }
            nav.site-breadcrumbs {
                @include fontPNCBR();
                font-size: 15px;
                color: transparentize($black, 0.45);
                display: none;
                @include lg {
                    display: block;
                    text-align: right;
                }
                a {
                    color: transparentize($black, 0.45);
                    transition: all .3s ease;
                    &:hover {
                        color: $black;
                    }
                }
            }
            .white_breadcrumbs {
                nav.site-breadcrumbs {
                    color: transparentize($white, 0.45);
                    a {
                        color: transparentize($white, 0.45);
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
