
.sidebar_toggle {
    position: absolute;
    z-index: 99;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: flex;
    left: -100px;
    margin-top: -70px;
    cursor: pointer;
    &.no_header_section {
        margin-top: -15px;
    }
    @include lg {
        display: none;
    }
    &:hover {
        background-color: transparent;
    }
    span {
        position: absolute;
        right: 11px;
        top: 50%;
        transform: translateY(-50%);
        @include fontPNCB();
        font-size: 14px;
        @include sm {
            font-size: 16px;
        }
    }
}

aside.sidebar-container {
    background-color: $blue;
    color: $white;
    position: fixed;
    left: -100%;
    bottom: 0;
    height: 100%;
    z-index: 999999;
    transition: all .3s ease;
    @include lg {
        z-index: auto;
        height: auto;
        bottom: auto;
        left: auto;
        padding: 45px 30px 30px 30px;
        margin-bottom: 30px;
        position: static;
    }
    &.active {
        left: 0;
    }

    .close_sidebar {
        width: 45px;
        height: 45px;
        margin: 0 auto 30px auto;
        text-align: center;
        background-color: $pink;
        border-radius: 50%;
        @include fontPNCB();
        position: relative;
        i {
            font-size: 22px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

    &#sidebar {
        width: 75%;
        @include sm {
            width: 50%;
        }
        @include lg {
            width: calc(31% - 30px);
        }

        .widget {
            margin-bottom: 30px;

            a {
                transition: $tran;
                &:hover {
                    color: $lightBlue;
                }
            }

            &.wpex-bordered-list {
                li {
                    border-top: none;
                    &:first-of-type {
                        border-top: none;
                    }
                }
            }

            .widget-title {
                color: $lightBlue;
                @include fontPNCB();
                font-size: 20px;
                border-bottom: 5px solid $lightBlue;
                margin-bottom: 15px;
            }

            ul {
                &.menu {
                    li.menu-item {
                        &.current-menu-item {
                            a {
                                background-color: transparent;
                            }
                        }
                        a {
                            border: none;
                            color: $white;
                            &:hover {
                                color: $lightBlue;
                                background-color: transparent;
                            }
                        }
                        .sub-menu {
                            display: block;
                            li:last-of-type {
                                border-bottom: none;
                            }
                        }
                    }
                }
                li {
                    border-bottom: 1px dashed $lightBlue;
                    margin-bottom: 5px;
                    a {
                        padding: 0;
                        font-size: 14px;
                        @include fontMuli();
                        &:hover {
                            color: $lightBlue;
                            background-color: transparent;
                        }
                        .wpex-taxonomy-terms-widget-name {
                            @include fontMuli();
                            font-size: 14px;
                        }
                    }
                }
            }

            .searchform {
                input {
                    border-radius: 18px;
                    height: 36px;
                    padding-left: 30px;
                    font-size: 16px;
                    @include md {
                        width: $headerItemsWidthTablet;
                    }
                    @include lg {
                        width: 400px;
                    }
                    &:active, &:focus {
                        border: 3px solid $lightBlue;
                    }
                }
                button.submit {
                    height: 100%;
                    margin: 0;
                    opacity: 1;
                    background: transparent;
                    top: 50%;
                    padding-left: 10px;
                    padding-right: 5px;
                    position: absolute;
                    transform: translateY(-50%);
                    left: 0px;
                    font-size: 16px;
                    line-height: 15px;
                    i {
                        color: $lightBlue;
                    }
                }
            }

        }

    }
    &.sidebar_margin_large {
        padding: 60px 30px 30px 30px;
        margin-top: -60px;
    }
    &.sidebar_margin_small {
        padding: 30px 30px 30px 30px;
        margin-top: -30px;
    }
    #sidebar-inner {
        margin-bottom: 0;
        overflow-y: scroll;
        height: 80%;
        @include lg {
            overflow-y: hidden;
            height: auto;
        }
        > div:last-of-type {
            margin-bottom: 0;
        }
    }
}


.icons_widget {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    @include lg {
        width: auto;
        right: 0;
        top: 50%;
        z-index: 99999999;
    }
    .icons_wrapper {
        position: relative;
        width: 100%;
        @include lg {
            width: 50px;
        }
        .blue {
            width: 100%;
            position: relative;
            bottom: 0;
            right: 0;
            z-index: 1;
            background-color: $blue;
            font-size: 32px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            @include lg {
                font-size: 26px;
                padding: 10px;
                width: auto;
                position: absolute;
                box-shadow: 0px 1px 4px 0px $black;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                flex-direction: column;
            }
            a {
                padding: 5px 0;
                display: block;
                width: 100%;
                text-align: center;
                border-left: 1px solid $lightBlue;
                border-right: 1px solid $lightBlue;
                &:first-of-type, &:last-of-type {
                    border: none;
                }
                @include lg {
                    padding: 0;
                    width: auto;
                    border: none;
                }
                &:hover {
                    i {
                        color: $lighterBlue;
                    }
                }
                i {
                    display: inline-block;
                    color: $lightBlue;
                }
            }
        }
        .green {
            right: -50px;
            z-index: 0;
            top: calc(100% + 20px);
            position: absolute;
            text-transform: uppercase;
            background-color: $green;
            border-top-left-radius: 20px;
            @include fontPNCB();
            font-size: 26px;
            color: $white;
            padding: 7px 45px 3px 15px;
            transform: rotate(-90deg);
            transition: $tran;
            &:hover {
                background-color: $hoverDonate;
                text-decoration: none;
            }
        }
    }
}
