.social_share {
    display: flex;
    flex-direction: row;
    align-items: center;
    > span.share_heading {
        @include fontPNCB();
        font-size: 30px;
        color: $blue;
    }
    > a {
        color: $white;
        margin-left: 15px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/wp-content/themes/bigwave-media/assets/pagination_active.svg);
        span {
            width: 24px;
            height: 24px;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

aside#sidebar .social_share, .social_share.light_blue_bg {
    span.share_heading {
        color: $lightBlue;
    }
    > a {
        background-image: url(/wp-content/themes/bigwave-media/assets/pagination_light_blue.svg);
    }
}
