.grid_wrapper_container {
    position: relative;
    overflow: visible;
    z-index: 999;
    margin-top: -60px;

    .svg_wrapper {
        svg {
            width: 100%;
            position: relative;
            height: 30px;
            @include md {
                height: 40px;
            }
            @include xl {
                height: auto;
            }
        }
    }

    .grid_wrapper_left, .grid_wrapper_right {
        @include md {
            width: 50%;
            float: left;
        }
        .grid_item {
            width: 100%;
            position: relative;
            &.half  {
                content: "";
                display: block;
                padding-bottom: 45%;
                @include xxxl {
                    padding-bottom: 40%;
                }
            }
            &.full {
                content: "";
                display: block;
                padding-bottom: 75%;
                @include xxxl {
                    padding-bottom: 80%;
                }
            }

            .item_content {
                position: absolute;
                width: 100%;
                height: 100%;
                color: white;
                display: flex;
                align-items: center;
                flex-direction: row;
                &.text_right_aligned {
                    .item_text {
                        position: absolute;
                        right: 15px;
                        @include xl {
                            right: 30px;
                        }
                    }
                }
                &.text_left_aligned {
                    .item_text {
                        position: absolute;
                        left: 0;
                        @include lg {
                            left: 30px;
                        }
                        @include xl {
                            left: 60px;
                        }
                    }
                    img {
                        right: 0;
                    }
                }
                &.text_top_aligned {
                    flex-direction: column;
                    img {
                        left: 0;
                    }
                    .item_text {
                        position: absolute;
                        right: 15px;
                        @include md {
                            right: 0;
                        }
                        h3 {
                            padding: 15px 15px 0;
                            @include xl {
                                padding: 30px 30px 0;
                            }
                        }
                    }
                }
                .item_text {
                    z-index: 99;
                }
                h3 {
                    margin: 0;
                    position: relative;
                    z-index: 999;
                    @include fontHBS();
                    color: $white;
                    padding: 0 15px;
                    font-size: 26px;
                    line-height: 26px;
                    @include sm {
                        font-size: 24px;
                        line-height: 24px;
                    }
                    @include md {
                        padding: 0 30px;
                        font-size: 26px;
                        line-height: 26px;
                    }
                    @include lg {
                        line-height: 32px;
                        font-size: 32px;
                    }
                    @include xl {
                        line-height: 40px;
                        font-size: 40px;
                    }
                    @include xxl {
                        line-height: 45px;
                        font-size: 45px;
                    }
                    @include xxxl {
                        line-height: 60px;
                        font-size: 60px;
                    }
                }
                a {
                    padding: 0 0 0 15px;
                    color: $white;
                    font-size: 20px;
                    @include fontPNCBR();
                    &:hover {
                        text-decoration: none;
                        .link_arrow {
                            margin-left: 10px;
                        }
                    }
                    @include sm {
                        font-size: 18px;
                    }
                    @include md {
                        padding: 0 0 0 30px;
                        font-size: 20px;
                    }
                    @include lg {
                        font-size: 22px;
                    }
                    @include xl {
                        font-size: 24px;
                    }
                    @include xxl {
                        font-size: 26px;
                    }
                    @include xxxl {
                        font-size: 32px;
                    }
                    .link_arrow {
                        transition: .2s all ease;
                        width: 1em;
                        height: 1em;
                        font-size: 1em;
                        line-height: 1em;
                        @include xl {
                            height: 1.5em;
                            font-size: 1.5em;
                            line-height: 1.5em;
                        }
                        i.fa-circle {
                            color: $white;
                        }
                    }
                }
                img {
                    position: absolute;
                    bottom: 0;
                    height: 100%;
                    width: auto;
                    @include md {
                        height: 108%;
                    }
                }
            }

            &.social_item {
                .item_content {
                    .item_text {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 30px 0;
                        right: 0;
                        @include xxxl {
                            padding: 0;
                        }
                        h3 {
                            padding: 0 15px 0 0;
                            right: 15px;
                            @include xl {
                                right: 60px;
                                padding: 0;
                            }
                        }
                        .social {
                            display:grid;
                            grid-row: auto auto;
                            grid-column-gap: 15px;
                            grid-row-gap: 15px;
                            justify-content: center;
                            grid-template-columns: 22% 22%;
                            @include lg {
                                grid-template-columns: 30% 30%;
                            }
                            @include xl {
                                grid-template-columns: 40% 40%;
                            }
                            @include xxl {
                                grid-template-columns: 50% 50%;
                            }
                            .social_link {
                                display:flex;
                                align-items:center;
                                justify-content:center;
                                a {
                                    padding: 0;
                                    &:hover {
                                        img {
                                            opacity: 0.8;
                                        }
                                    }
                                    img {
                                        transition: $tran;
                                        position: relative;
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
