
// variables and mixins
@import 'theme_vars/theme_vars';
// bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';
// bend the total theme to my will
@import 'bootstrap_overrides/bootstrap_overrides';

@import 'partials/header';
@import 'partials/nav';
@import 'partials/footer';
@import 'partials/homepage_grid';
@import 'partials/homepage_cta';
@import 'partials/featured_image';
@import 'partials/page_heading';
@import 'partials/forms';
@import 'partials/sidebar';
@import 'partials/social_share';
@import 'partials/block_styles';

@import 'blocks/flexible_content';
@import 'blocks/text_image_grid';
@import 'blocks/animal_details';
@import 'blocks/jagged_buttons';
@import 'blocks/conservation_status';
@import 'blocks/text_image_alternate_block';
@import 'blocks/accordion';

#wrap {
    margin-top: -45px;
}

.post-edit {
    display: none !important;
}

.fontPNCBR {
    @include fontPNCBR();
}

h1, h2 {
    @include fontHBS();
    color: $blue;
}

h3, h4, h5 {
    @include fontMuli();
    color: $blue;
}

p {
    @include fontMuli();
}

#primary {
    padding-top: 5px;
    color: $blue;
    @include lg {
        padding-top: 0;
    }
}

.text_image_alternate_block.accordion.animal_experiences {
    margin: 0 15px;
    @include md {
        margin: 0;
    }
    .item_column {
        @include md {
            background-color: transparent !important;
        }
        &:last-of-type {
            .accordion_toggle {
                margin-bottom: 45px;
            }
        }
    }

    @include md {
        a {
            &:hover {
                .accent {
                    h3 {
                        padding: 35px 0;
                    }
                }
            }
        }
    }

    .accordion_item {
        margin: 0 -15px;
        @include md {
            margin: 0 0 30px 0;
        }
        .accordion_toggle {
            transition-delay: .15s;
            margin-bottom: 60px;
            &.active {
                margin-bottom: 40px;
            }
        }
        .experiences_item_bottom {
            width: 100%;
            overflow: hidden;
            z-index: 0;
            top: -10px;
            position: relative;
            @include md {
                position: relative;
                z-index: -1;
                margin-bottom: 0;
                top: auto;
                bottom: -15px;
            }
            svg {
                width: 100%;
                height: auto;
            }
        }
        .accordion_content {
            @include md {
                margin-top: 0;
            }
            img {
                height: 425px;
            }
        }
        .accent {
            overflow: hidden;
            text-align: center;
            svg {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                position: absolute;
            }
            h3 {
                transition: $tran;
                padding: 30px 0;
                margin: 0;
                color: $white;
                position: relative;
                font-size: 22px;
                @include xl {
                    font-size: 26px;
                }
            }
        }
    }
}

.animal_experiences_single {
    margin-top: 15px;
    padding-bottom: 30px;
    @include md {
        margin-top: 0;
    }
    h1 {
        @include fontHBS();
        font-size: 30px;
        margin-bottom: 15px;
        color: $white;
        text-align: center;
        @include md {
            font-size: 34px;
            text-align: left;
        }
        @include lg {
            font-size: 40px;
        }
        @include xl {
            display: block;
            @include fontHBS();
            font-size: 45px;
            margin-bottom: 30px;
        }
    }

    .site-breadcrumbs {
        margin-bottom: 15px;
        @include xl {
            margin-bottom: 30px;
        }
        a, span {
            color: transparentize($black, 0.45);
            font-size: 12px;
            @include xl {
                font-size: 14px;
                color: transparentize($white, 0.45);
            }
        }
    }

    .content_left {
        margin-top: 55px;
        @include xl {
            padding-right: 30px;
        }
        .previous_page {
            margin-bottom: 5px;
            .prev_page_label {
                @include fontPNCB();
                font-size: 22px;
                color: $blue;
            }
            .fa-stack {
                height: 1.5em;
                line-height: 1.2em;
                width: 1.5em;
                font-size: 1.5em;
                .fa-circle {
                    color: $blue;
                }
                .fa-angle-left {
                    color: $white;
                }
            }
        }

        .content_image {
            position: relative;
            margin: 1px 0;
            margin-bottom: 30px;
            @include md {
                margin-bottom: 0;
            }
            svg {
                width: calc(100% + 3px);
                left: -2px;
                position: absolute;
                &.svg_top {
                    top: -1px;
                }
                &.svg_bottom {
                    bottom: -1px;
                    transform: rotate(180deg);
                }
            }
        }
    }
    .content_right {
        position: relative;
        .content_right_inner {
            background-color: $blue;
            color: $white;
            padding: 15px 30px 15px 30px;
            @include md {
                padding: 60px 30px 15px 30px;
            }
            @include xl {
                padding: 50px 30px 30px 30px;
            }

            .intro_content {
                @include fontMuli();
                font-size: 14px;
                @include xl {
                    font-size: 16px;
                }
            }
            > *:last-child {
                margin-bottom: 0;
            }
        }
        .svg_top {
            width: 100%;
            position: relative;
            top: 5px;
            transform: rotate(180deg);
        }
        .svg_bottom {
            width: 100%;
            position: relative;
            top: -5px;

            svg {
                width: 100%;
                height: auto;
            }
        }
    }
}

.pagination, .wpex-pagination {
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    .page-numbers {
        @include fontPNCB();
        text-align: center;
        padding: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        color: $white;
        background-image: url(/wp-content/themes/bigwave-media/assets/pagination.svg);
        margin: 0 5px;
        font-size: 18px;
        line-height: 32px;
        width: 32px;
        height: 32px;
        @include xl {
            font-size: 20px;
            line-height: 40px;
            width: 40px;
            height: 40px;
        }
        &:hover, &.current {
            background-size: contain;
            color: $lightBlue;
            background-position: center;
            background-image: url(/wp-content/themes/bigwave-media/assets/pagination_active.svg);
        }
    }
    .next, .prev {
        white-space: nowrap;
        color: $blue;
        background-image: none;
        width: auto;
        height: auto;
        font-size: 16px;
        @include xl {
            font-size: 20px;
        }
        &:hover {
            background: none;
        }
    }
    @include xl {
        .next {

            margin-left: 15px;
        }
        .prev {
            margin-right: 15px;
        }
    }
}


.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
        animation: lds-roller 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
        &:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin: -4px 0 0 -4px;
        }
    }
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
    background: $green;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
    background: $lightBlue;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
    background: $pink;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
    background: $green;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
    background: $lightBlue;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
    background: $pink;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
    background: $green;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
    background: $lightBlue;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.animal_a_z {
    margin-bottom: 30px;
    .loading {
        width: 100%;
        text-align: center;
        margin: 75px 0;

        .svg_wrapper {
            position: relative;
            &.svg_top {
                transform: rotate(180deg);
                top: 4px;
                @include xl {
                    top: 1px;
                }
            }
            &.svg_bottom {
                bottom: 4px;
                @include xl {
                    bottom: 1px;
                }
            }
        }
        .loading_inner {
            padding: 30px 0;
            background-color: $blue;
            h2 {
                color: $white;
                @include fontHBS();
                font-size: 45px;
            }
        }
    }
    .animals {
        position: relative;
        .no_animals_found {
            text-align: center;
            position: relative;
            margin: 15px auto;
            .svg_top {
                position: relative;
                top: 4px;
                transform: rotate(180deg);
            }
            .svg_bottom {
                position: relative;
                bottom: 4px;
            }
            .no_animals_found_inner {
                background-color: $blue;
                padding: 15px 30px;
                h3 {
                    margin: 0;
                    color: $white;
                    @include fontHBS();
                }
            }
        }

        .animal_item {
            text-align: center;
            background-color: $blue;
            margin-bottom: 15px;
            position: relative;
            a {
                &:hover {
                    text-decoration: none;
                    .animal_title {
                        padding: 20px 0;
                        h3 {
                            text-decoration: none;
                        }
                    }
                }
            }
            .animal_image {
                height: 320px;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .animal_title {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                padding: 15px 0;
                transition: $tran;
                h3 {
                    transition: $tran;
                    color: $white;
                    @include fontHBS();
                    font-size: 18px;
                }
            }
        }
    }
}

.a_z_controls {
    position: relative;
    width: 70%;
    height: 40px;
    margin: 0 auto 30px auto;
    &.bottom {
        margin: 15px auto 0 auto;
    }
    .VueCarousel-navigation-button {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url(/wp-content/themes/bigwave-media/assets/pagination.svg);
        color: $white;
        &.VueCarousel-navigation-prev {
            left: -5px;
        }
        &.VueCarousel-navigation-next {
            right: -5px;
        }
    }
    .VueCarousel-slide {
        text-align: center;
        button, a {
            padding: .538em 1.077em;
            text-align: center;
            margin: 0 auto;
            display: block;
            @include fontHBS();
            color: $white;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url(/wp-content/themes/bigwave-media/assets/pagination_active.svg);
            &.active, &:hover {
                text-decoration: none;
                background-image: url(/wp-content/themes/bigwave-media/assets/pagination.svg);
            }
        }
    }
    i {
        color: $white;
    }
}

.a_z_back_to {
    a {
        .bg {
            padding: 8px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: $white;
        }
        .text {
            @include fontHBS();
        }
    }
}

.animals_nav {
    .prev, .next {
        a {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include fontHBS();
            font-size: 16px;
            @include md {
                font-size: 22px;
            }
            > div {
                width: 100%;
            }
            span {
                font-size: 26px;
                @include md {
                    font-size: 32px;
                }
                i.fa-circle {
                    color: $pink;
                }
            }
        }
    }
}

.a_z_breadcrumbs {
    * {
        font-size: 14px;
        color: lighten($black, 45%);
    }
}

.slider_container {
    width: 100%;
    @include md {
        width: 50%;
    }
    .animal_a_z {
        margin-bottom: 10px;
        .a_z_controls {
            margin: 0 auto 0 auto;
            @include md {
                margin: 0 auto 0 30px;
            }
        }
    }
    .VueCarousel-slide button, .a_z_controls .VueCarousel-slide a {
        padding: 0.538em 1.115em;
    }
}

.a_z_breadcrumbs {
    width: 100%;
    @include md {
        width: 50%;
    }
}

.wpex-bordered-list li:first-child {
    border-top: none;
}

.single-blog-header {
    h1.entry-title {
        color: $blue;
        @include fontHBS();
    }
}
.single-blog-article {
    a {
        color: $lightBlue;
    }
}


.error404-content {
    background-position: center top;
    background-size: cover;
    position: relative;
    color: $white;
    padding: 75px 0;
    @include sm {
        padding: 175px 0;
    }
    @include md {
        padding: 250px 0;
    }
    @include lg {
        padding: 300px 0;
    }
    .error_404_overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparentize($blue, 0.5);
        height: 100%;
        width: 100%;
    }
    .error_404_content {
        position: relative;
        z-index: 1;
    }
    h1 {
        font-size: 40px;
        @include md {
            font-size: 48px;
        }
        @include lg {
            font-size: 60px;
        }
    }
    h2 {
        font-size: 24px;
        @include md {
            font-size: 32px;
        }
        @include lg {
            font-size: 48px;
        }
    }
    h1, h2 {
        color: $white;
    }
}
